.cards{
    display: flex;
    flex-flow: wrap;
    width: 50%;
    position: relative;
    transform: translate(-50%);
    left: 50%;
    top: 50%;
    justify-content: center;
    padding: 28px 0px;
    border-radius: 12px;
    padding: 28px 0px;
    border-radius: 12px;
    min-height: 88vh;
}

.buttonGroup{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 25%;
}