.content{
    text-align: left;
}

.ui.card:first-child{
    margin: 4px !important;
}

.cards-loading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 0px;
    border-radius: 12px;
    min-height: 88vh;
    color: aliceblue
}

.header{
    text-transform: capitalize;
}