.App {
  text-align: center;
}

/* #starwars{
  background-image: url("./bg2.jpg") ;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

#starwars-overlay{
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  height: auto;
  min-height: 100%;
  width: -webkit-fill-available;
}

